<meta name="title" content="{{ config.SEO_SITE_NAME }}">
<meta name="description" content="{{ config.SEO_SITE_DESCRIPTION }}">

<meta property="og:type" content="website">
<meta property="og:url" content="{{ config.SEO_SITE_URL }}">
<meta property="og:title" content="{{ config.SEO_SITE_NAME }}">
<meta property="og:description" content="{{ config.SEO_SITE_DESCRIPTION }}">
<meta property="og:image" content="">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ config.SEO_SITE_URL }}">
<meta property="twitter:title" content="{{ config.SEO_SITE_NAME }}">
<meta property="twitter:description" content="{{ config.SEO_SITE_DESCRIPTION }}">
<meta property="twitter:image" content="">