{% load static %}
<link rel="stylesheet" href="{% static 'main/css/nav.css' %}">
<section class="toolbar">
    <nav class="navigation">
        <div class="control">
            <button class="nav-opener" data-label="메뉴">
                <img src="{% static 'main/image/menu.svg' %}" alt="menu">
            </button>
            <button class="nav-closer disabled" data-label="닫기">
                <img src="{% static 'main/image/close.svg' %}" alt="close">
            </button>
        </div>
        <div class="content">
            <button class="favorite" data-label="즐겨찾기" data-order="0">
                <img src="{% static 'viewer/image/star_select.svg' %}" alt="favorite">
            </button>
            <button class="settings" data-label="설정" data-order="1">
                <img src="{% static 'main/image/setting.svg' %}" alt="settings">
            </button>
        </div>
    </nav>
    <div class="searchbar">
        <div class="searchbar-container">
            <div class="searchbar-input">
                <div class="tags"></div>
                <input placeholder="태그로 검색" class="main-input">
            </div>
            <div class="suggests"></div>
        </div>
        <button class="search">
            <img src="{% static 'main/image/search.svg' %}" alt="search">
        </button>
    </div>
</section>
<script src="{% static 'main/js/nav.js' %}"></script>
<script>
    let nav = new Nav();
</script>