{% load static %}

<!doctype html>
<html lang=ko>
<head>
    {% include 'general/macro/head.html' %}
    {% include 'user/macro/head.html' %}
    <title>비밀번호 변경</title>
</head>
<body>
    <main class="half-form-content">
        <section class="form">
            <form action="{% url 'user:change_password' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {% if error %}
                        <div class="alert-danger">
                            {{ error }}
                        </div>
                        <label for="email">이메일</label>
                        <input type="email" name="email" id="email" class="form-control error" placeholder="이메일을 적어주세요" required>
                    {% else %}
                        <label for="email">이메일</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="이메일을 적어주세요" required>
                    {% endif %}
                </div>
                <input type="submit" value="비밀번호 변경">
            </form>
        </section>
        <section class="contentbox">
            <header>
                <h1>이메일 인증</h1>
                <p>비밀번호 변경을 위한 본인인증 절차입니다.</p>
            </header>
            <div class="link">
                <a href="{% url 'user:login' %}">로그인</a>
                <a href="{% url 'user:register' %}">회원가입</a>
            </div>
        </section>
    </main>
    <script src="{% static 'user/js/form.js' %}"></script>
    <script>
        page.init();
    </script>
</body>
</html>