{% load static %}

<!doctype html>
<html lang=ko>
<head>
    {% include 'general/macro/head.html' %}
    {% include 'user/macro/head.html' %}
    <title>비밀번호 변경</title>
</head>
<body>
    <main class="half-form-content form-only">
        <section class="form">
            <form action="{% url 'user:change_password_token' token=token %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" name="password", id="password" required>
                </div>
                <div class="form-group">
                    <label for="password_check">비밀번호 확인</label>
                    <input type="password" class="form-control" name="password_check", id="password_check" required>
                </div>
                <input type="submit" value="비밀번호 변경">
            </form>
        </section>
    </main>
    <script src="{% static 'user/js/form.js' %}"></script>
    <script>
        page.init()
    </script>
</body>
</html>