{% load static %}

<!DOCTYPE html>
<html>
    <head>
        {% include 'general/macro/head.html' %}
        {% include 'user/macro/head.html' %}
        <title>가입 성공</title>
    </head>
    <body>
        <main class="content-only">
            <section class="content">
                <h1>환영합니다!</h1>
                <p>성공적으로 HANA에 가입했습니다.<!-- 이제 로그인 하실 수 있습니다.--></p>
            </section>
            <!--
            <section class="link">
                <a href="% url 'user:login' %">로그인</a>
            </section>
            -->
        </main>
    </body>
</html>