{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'general/macro/head.html' %}
    {% include 'general/macro/seo.html' %}

    <title>Hana</title>

    <link href="{% static 'front/css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <main>
        <section class="headers">
            <h2>언제 어디서나, 가장 완벽한 히토미</h2>
            <h1>HANA</h1>
            <h3>Private Alpha Test</h3>
        </section>
        <section class="control">
            <a href="{% url 'user:login' %}">로그인</a>
            <a href="{% url 'user:register' %}">회원가입</a>
        </section>
    </main>
</body>
</html>