{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% include 'general/macro/head.html' %}
        <title>App</title>
        <link rel="stylesheet" href="{% static 'main/css/galleryblock.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/page-nav.css' %}">
    </head>
    <body>
        {% include 'main/macro/toolbar.html' %}
        <main>
            <section id="gallery"><img src="{% static 'main/image/loading.gif' %}" alt="loading..." id="loading-content"></section>
            <section id="page-navigation"></section>
        </main>
        <script src="{% static 'main/js/gallery-main.js' %}"></script>
    </body>
</html>