@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
a:-webkit-any-link {
  color: #000000;
  text-decoration: none;
}

main {
  margin-top: 100px;
}

section#gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#gallery img#loading-content {
  width: 50%;
}
@media (max-width: 600px) {
  section#gallery img#loading-content {
    width: 100%;
  }
}
section#gallery article.gallery-block {
  display: block;
  width: 90%;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3137254902);
  border-radius: 30px;
}
section#gallery article.gallery-block div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 600px) {
  section#gallery article.gallery-block div {
    flex-direction: column;
  }
}
section#gallery article.gallery-block div div.col {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  margin-left: 20px;
}
@media (max-width: 600px) {
  section#gallery article.gallery-block div div.col {
    width: 100%;
    margin-left: 0;
  }
}
section#gallery article.gallery-block div a.lillie {
  display: table-cell;
  width: 30%;
  height: 100%;
  background-color: #000;
}
@media (max-width: 600px) {
  section#gallery article.gallery-block div a.lillie {
    width: 50%;
  }
}
section#gallery article.gallery-block div a.lillie div, section#gallery article.gallery-block div a.lillie picture {
  margin-left: 0;
}
section#gallery article.gallery-block div h1.lillie {
  font-family: "Pretendard", sans-serif;
  font-size: 30px;
  font-weight: 700;
}
section#gallery article.gallery-block div h1.lillie a {
  color: #000;
  text-decoration: none;
}
section#gallery article.gallery-block div div.artist-list {
  width: calc(100% - 20px);
  margin-bottom: 20px;
}
section#gallery article.gallery-block div div.artist-list ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
section#gallery article.gallery-block div div.artist-list ul::before {
  content: "By ";
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin-right: 10px;
}
section#gallery article.gallery-block div div.artist-list ul li a {
  color: #000;
  text-decoration: none;
}
section#gallery article.gallery-block div div.artist-list ul li:not(:last-child)::after {
  content: ", ";
  margin-right: 5px;
}
section#gallery article.gallery-block div div[class$=content] {
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
section#gallery article.gallery-block div div[class$=content] a:not([href]) {
  cursor: default;
}
section#gallery article.gallery-block div div[class$=content] p {
  margin: 0;
}
section#gallery article.gallery-block div div[class$=content] table {
  margin: 0 0 20px;
  padding: 0;
  border-collapse: separate;
  border-spacing: 10px;
}
section#gallery article.gallery-block div div[class$=content] table tbody > tr {
  margin: 10px 0;
}
section#gallery article.gallery-block div div[class$=content] table tbody > tr > td:first-child {
  font-weight: 700;
}
section#gallery article.gallery-block div div[class$=content] table tbody tr td.relatedtags ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
section#gallery article.gallery-block div div[class$=content] table tbody tr td.relatedtags ul li {
  border: 1px solid rgba(0, 0, 0, 0.3137254902);
  border-radius: 10px;
  padding: 2px 4px;
  margin: 3px;
}

/*# sourceMappingURL=galleryblock.css.map */
