@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

section#page-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: fit-content;

  margin: 20px 0;

  nav.page-navigator {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;

    gap: 15px;
    @media (max-width: 420px) {
      gap: 10px;
    }

    width: fit-content;
    height: fit-content;

    padding: 15px 40px;

    background-color: #cccccc;

    border-radius: 15px;

    transition: 0.1s;

    &:hover {
      transform: scale(1.05);

      transition: 0.1s;
    }

    a {
      color: #000000;
      text-decoration: none;

      transition: 0.1s;

      &.page-button {
        font-family: "Pretendard", sans-serif;
        font-size: 25px;
        @media (max-width: 420px) {
          font-size: 20px;
        }
        font-weight: 700;

        &.current-page {
          color: #2c9f2c;
          text-decoration: underline;
        }
      }

      &.page-prev,&.page-next {
        height:30px;
        width:40px;
      }

      &.page-prev::before {
        content: "←";
        height: 30px;
        font-weight: 1000;
      }

      &.page-next::after {
        content: "→";
        height: 30px;
        font-weight: 1000;
      }

      &:not(.current-page):hover {
        color: #2c2c9f;
        transform: translateY(-5px);
        text-decoration: underline;

        transition: 0.1s;
      }
    }
  }
}